absl-py==2.1.0
addict==2.4.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
annotated-types==0.5.0
anyio==4.0.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asn1crypto==1.5.1
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
Automat==22.10.0
autopep8==2.0.2
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.11.2
bert-score==0.3.13
bleach==6.2.0
blinker==1.6.2
branca==0.6.0
bs4==0.0.1
cachetools==5.3.1
catboost==1.2
cattrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
chromedriver-autoinstaller==0.6.4
click==8.1.3
cloudpickle==2.2.1
cloudscraper==1.2.71
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
comtypes==1.1.14
constantly==15.1.0
contourpy==1.0.6
coremltools==6.3.0
cryptography==41.0.1
cssselect==1.2.0
cycler==0.11.0
datasets==2.15.0
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
discord.py==2.3.2
distro==1.8.0
dnspython==2.3.0
docopt==0.6.2
emoji==2.7.0
et-xmlfile==1.1.0
exceptiongroup==1.1.2
executing==1.2.0
fastjsonschema==2.21.1
filelock==3.12.0
Flask==3.0.0
Flask-Cors==4.0.0
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==24.12.23
folium==0.14.0
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.10.0
future==0.18.3
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.37.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.1
greenlet==3.0.3
grpcio==1.68.1
h11==0.14.0
h5py==3.12.1
html5lib==1.1
htmlmin==0.1.12
httpcore==0.18.0
httpx==0.25.0
huggingface-hub==0.27.0
humanfriendly==10.0
hyperlink==21.0.0
idna==3.4
ImageHash==4.3.1
importlib-metadata==6.8.0
incremental==22.10.0
install==1.3.5
intel-cmplr-lib-ur==2024.2.0
intel-openmp==2024.2.0
ipykernel==6.29.5
ipython==8.13.2
ipywidgets==8.1.5
isoduration==20.11.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.1
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==2.13.1
kiwisolver==1.4.4
kraken==2.0.8
libclang==18.1.1
lightgbm==4.0.0
lxml==4.9.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.2
mathparse==0.1.2
matplotlib==3.6.2
matplotlib-inline==0.1.6
mdurl==0.1.2
missingno==0.5.2
mistune==3.0.2
mkl==2024.2.0
mkl-service==2.4.1
ml-dtypes==0.4.1
mltu==1.2.5
mne==1.3.0
mpmath==1.3.0
multidict==6.0.4
multimethod==1.9.1
multiprocess==0.70.15
mysql-connector==2.2.9
mysql-connector-python==9.0.0
namex==0.0.8
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
ngrok==0.12.1
nltk==3.8.1
notebook==7.3.2
notebook_shim==0.2.4
num2words==0.5.14
numpy==1.24.3
oauthlib==3.2.2
onnxruntime==1.20.1
opencv-python==4.7.0.72
openpyxl==3.1.2
opt_einsum==3.4.0
optree==0.13.1
oscrypto==1.3.0
outcome==1.2.0
overrides==7.7.0
packaging==23.2
pandas==2.0.0
pandas-profiling==3.2.0
pandocfilters==1.5.1
parsel==1.8.1
parso==0.8.3
phik==0.12.3
pickleshare==0.7.5
Pillow==9.5.0
Pint==0.20.1
platformdirs==3.3.0
plotly==5.15.0
pooch==1.6.0
prometheus_client==0.21.1
prompt-toolkit==3.0.38
Protego==0.2.1
protobuf==3.20.3
psutil==6.1.0
pure-eval==0.2.2
pyarrow==12.0.1
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.21
pycryptodomex==3.19.0
pydantic==2.0.3
pydantic_core==2.3.0
pydeck==0.8.0
PyDispatcher==2.0.7
pyee==11.1.0
pyenv-win==3.1.1
Pygments==2.15.1
PyJWT==2.8.0
pymongo==3.13.0
Pympler==1.0.1
PyMySQL==1.1.1
pynput==1.7.6
pyOpenSSL==23.2.0
pyparsing==3.0.9
PyPDF2==3.0.1
pypiwin32==223
pyreadline3==3.5.4
pyrsistent==0.19.3
PySocks==1.7.1
pytesseract==0.3.13
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==3.2.1
pyttsx3==2.90
pytube==15.0.0
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywin32==306
pywinpty==2.0.14
PyYAML==6.0.1
pyzmq==26.2.0
qqdm==0.0.7
queuelib==1.6.2
redis==4.6.0
referencing==0.35.1
regex==2022.10.31
replicate==0.15.4
requests==2.32.3
requests-cache==1.0.1
requests-file==1.5.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rouge==1.0.1
rouge-score==0.1.2
rpds-py==0.22.3
rsa==4.9
safetensors==0.4.5
scikit-learn==1.2.0
scipy==1.9.3
Scrapy==2.9.0
seaborn==0.12.2
selenium==4.11.2
Send2Trash==1.8.3
service-identity==23.1.0
six==1.16.0
sklearn==0.0.post1
slack==0.0.2
slack-sdk==3.26.0
slackeventsapi==3.0.1
smmap==5.0.0
sniffio==1.3.0
snowflake-connector-python==3.3.1
snowflake-snowpark-python==1.9.0
sortedcontainers==2.4.0
soupsieve==2.4
spotipy==2.23.0
SQLAlchemy==2.0.32
stack-data==0.6.2
streamlit==1.25.0
sympy==1.12
tabula-py==2.7.0
tangled-up-in-unicode==0.2.0
tbb==2021.13.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
terminado==0.18.1
threadpoolctl==3.1.0
tinycss2==1.4.0
tldextract==3.4.4
tokenizers==0.13.3
toml==0.10.2
tomlkit==0.12.1
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.28.1
trio==0.22.1
trio-websocket==0.10.3
Twisted==22.10.0
twisted-iocpsupport==1.0.3
types-python-dateutil==2.9.0.20241206
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3.1
uri-template==1.3.0
uritools==4.0.1
url-normalize==1.4.3
urlextract==1.8.0
urllib3==1.26.14
urllib3-secure-extra==0.1.0
utils==1.0.1
validators==0.20.0
visions==0.7.4
w3lib==2.1.1
watchdog==3.0.0
wcwidth==0.2.6
webcolors==24.11.1
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.1
widgetsnbextension==4.0.13
word2number==1.1
wordcloud==1.9.2
wrapt==1.17.0
wsproto==1.2.0
WTForms==3.1.2
xlrd==2.0.1
xxhash==3.4.1
yarl==1.9.2
youtube-transcript-api==0.6.1
zipp==3.16.2
zope.interface==6.0
